Create an application that has a celebrity database
1. User can add a new celebrity by “AddNewCelebrity” *
a.  Can view all the celebrities (ViewCelebrities)
b.  Can update a celebrity from the list (ViewCelebrity) *
c.  Can remove a celebrity from the list (ImageButton) *
d.  Can make a celebrity as favorite (ImageButton)
e.  Can view all the favorite celebrity (MyFavorites) activity
2. Create a custom content provider with the celebrity SQL database.
    Then retrieve data from that content provider and populate the recyclerView